body {
  font-family: Verdana, sans serif;
  text-align: center;
  background-color: black;
  color: white;
}
h1 {
  font-weight: normal;
  font-size: 50px;
  text-align: center;
}
.cta {
  color: aquamarine;
  font-size: 16px;
}
p {
  color: gray;
  font-size: 21px;
}
h2 {
  font-size: 42px;
  font-weight: 300;
}
video {
  object-fit: contain;
}
a:-webkit-any-link {
  cursor: auto;
  text-decoration: underline;
}
. footer {
  text-align: right;
}
